html
{
background-color:#DDDDDD;
}
body
{
background-color:#EEEEEE;
margin-left:3%;
margin-right:3%;
border:solid;
border-width:1px;
border-color:grey;
border-left-width:5px;
height:auto;
}
h1
{
color: black;
font-family:helvetica, sans-serif;
text-align:right;
font-size:33pt;
margin-top:5%;
margin-right:5%;
margin-left:30px;
padding-top:50px;
border-bottom:solid;
border-width:4px;
border-color:grey;
padding-bottom:5px;
opacity:0.9;
}
#content
{
color:black;
font-size:10pt;
font-family:helvetica, sans-serif;
float:left;
margin-left:6%;
margin-right:6%;
text-align:center;
border-top:solid;
padding-top:10px;
padding-bottom:20px;
border-bottom:solid;
padding-bottom:10px;
border-width:1px;
border-color:grey;
}
a:link
{
color:black;
font-size:11pt;
font-family:helvetica, sans-serif;
text-decoration:none;
border-bottom:solid;
border-width:2px;
border-color:Black;
padding-left:5pt;
padding-right:5pt;
margin-left:30px;
font-weight:bold;
border-color:grey;
opacity:0.85;
}
a:visited
{
color:black;
font-size:11pt;
font-family:helvetica, sans-sefif;
border-color:grey;
opacity:0.85;
}
a:hover
{
border-color:orange;
opacity:1;
}
#images
{
text-align:center;
margin-top:5%;
border:none;
padding-left:5px;
padding-bottom:10px;
height:130px;
padding-top:10px;
}
img
{
width:150px;
}
img:hover
{
width:180px;
}
#copyright
{
text-align:center;
font-size:12;
color:grey;
padding-top:8px;
padding-bottom:8px;
}